*{margin: 0; padding: 0; outline: 0; list-style:none; text-decoration:none; font-family: 'Roboto', sans-serif;}
.clearfix:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	     }
	.clearfix { display: inline-block; }
	/* start commented backslash hack \*/
	* html .clearfix { height: 1%; }
	.clearfix { display: block; }
	/* close commented backslash hack */
   h3{
    float: left;
    margin-top: 8px;
    color:#E8810F;;
   }
  img{
    float: left;
    height: 30px;
    width: 40px;
    color: white;,
   }

#adm-header{
  position: absolute;
  top:0;
  height: 30px;
  background-color: #333;
  line-height: 1em;
  width: 100%;
}
.header-left{
    float: left;
    height: 30px;
    width: 350px;
}
.header-left select{
   font-weight: bold;
   font-size: 15px;
   background-color: rgba(255, 255, 255, 0.91);
}
.header-left h3 a{
    color:white;
}
.header-right{
  float: right;
  height: 30px;
  width: 350px;
  color: white;
  font-size: 17px;
}
.fa-cog{
    margin-left: 20px;
    margin-top: 2px;
    font-size: 21px;
}
.fa-user{
    margin-left: 40px;
    margin-top: 2px;
    font-size: 21px;
}
.fa-caret-down{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
}
.administration a, .open-close a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.administration:hover, .open-close:hover a{
    text-decoration: underline;
    cursor: hand;
}
#adm-content{
	position: relative;
	top: 30px;
	height: 613px;
	width: 100%;
	background-color: #d3e8f2;
}
.adm-content-inner{
  position: absolute;
  top: 0;
  bottom: 30px;
  width:950px;
  margin-left: 200px;
  background: white;
  border: 1px solid lightgray;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.adm-content-inner h2, .adm-content-inner h3{
      color: rgba(0, 0, 0, 0.79);
      margin-left: 20px;
      margin-top: 30px;
}
.adm-content-inner button{
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-left: 22px;
  margin-top: 10px;
  background: rgba(128, 128, 128, 0.16);
}
.adm-content-inner button:hover{
  cursor: hand;
  opacity: 0.9;
}
.box{
  padding: 10px;
  background: #d3e8f2;
  border-radius: 3px;
  margin-right: 20px;
  margin-left: 20px;
  border-color: #bce8f1;
}
.box a{
  color:#3a87ad;
  font-size: 14px;
}
button a{
  color: black;
}
.submenu{
    float: right;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    display: none;
    z-index:4;
    right: 3px;
    padding: 3px 0;
    position: absolute;
    top: 33px;
}
.submenu li a {
    color: #000;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    padding: 7px 20px;
    white-space: nowrap;
    text-decoration: none;
    }
    .submenu li a:hover{
        background: #08C;
        color: white;
    }