*{margin: 0; padding: 0; outline: 0; list-style:none; text-decoration:none; font-family: 'Roboto', sans-serif;}
.clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

  .help-page{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 416px;
    width: 540px;
    border: 1px solid #c3c4c4;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.25);
    color: #2e2e2e;
    background-color: #f5f5f5;
    z-index: 3;
    margin-left: -270px;
    margin-top: -208px;
    display: none;
  }
  .help-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .help-header h2{
  color: white;
  font-size: 14px;
  font-family: arial;
  margin-left: 15px;
  margin-top: 7px;
 }
  .help-header .fa-times{
  float: right;
  color: white;
  margin-top:-19px;
 }
  .help-content{
    position: absolute;
    margin-top: 30px;
    width: 540px;
    height: 386px;
  }
  .helpDialog-tabs{
    margin-top: 24px;
    height: 20px;
  }
  .helpDialog-tabs li{
    float: left;
    margin-left: 25px;
    text-decoration: underline;
    color: black;
  }
  .helpDialog-tabs li:hover{
    cursor: hand;
  }
  .helpDialog-tabs li a{
    font-size: 15px;
    font-weight: bold;
  }
  .qH-content{
    display: block;
    margin-top: 10px;
    height: 315px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #1b75bb;
    font-size: 13px;
    font-weight: bold;
  }
  .qH-content li{
    border-top: 1px solid rgba(27, 117, 187, 0.12);
    padding: 8px;
    cursor: hand;
  }
  .ask-content{
    height: 315px;
    width: 508px;
    margin-left: 17px;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top: 10px;
    font-size: 13px;
    display: none;
  }
  .ask-content p, .tutorial-content p{
    margin-top: 8px;
  }
  .ask-content textarea, .giveFeedback-content textarea{
    width: 100%;
    height: 130px;
    margin-top: 5px;
    border: 1px solid #ccc;
  }
  .ask-content label{
    margin-left: 2px;
    display: block;
    margin-top: 15px;
  }
  #askContent-sendQuestion, #feedbackContent-sendFeedback, #tutorialContent-startTutorial{
    background: linear-gradient(#4c4c4c,#2e2e2e);
    display: block;
    border-radius: 5px;
    border-color: #222;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px 14px 6px 13px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    line-height: 28px;
    text-decoration: none;
    margin-top: 16px;
  }
  .giveFeedback-content{
    height: 315px;
    width: 508px;
    margin-left: 17px;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top: 10px;
    font-size: 13px;
    display: none;
  }
  .feedbackTypes li{
    float: left;
    margin-right: 35px;
    margin-top: 10px;
    font-size: 14px;
  }
  .feedbackTypes input{
    margin-right: 7px;
  }
  .giveFeedback-content label{
     margin-left: 2px;
     display: block;
     margin-top: 12px;
  }
  .tutorial-content{
    height: 315px;
    width: 508px;
    margin-left: 17px;
    overflow-x:hidden;
    overflow-y:auto;
    margin-top: 10px;
    font-size: 13px;
    display: none;
  }
  .selected-tab{
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.78);
    text-decoration: none;
  }