*{margin: 0; padding: 0; outline: 0; list-style:none; text-decoration:none; font-family: 'Roboto', sans-serif;}
.clearfix:after {
	     visibility: hidden;
	     display: block;
	     font-size: 0;
	     content: " ";
	     clear: both;
	     height: 0;
	     }
	.clearfix { display: inline-block; }
	/* start commented backslash hack \*/
	* html .clearfix { height: 1%; }
	.clearfix { display: block; }
	/* close commented backslash hack */
h3{
    float: left;
    margin-top: 8px;
    color:#E8810F;
}
img{
    float: left;
    height: 30px;
    width: 40px;
    color: white;,
}

.body-board{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.board-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: -1;
}
#header{
    position: absolute;
    top:0;
    height: 30px;
    background-color: #333;
    line-height: 1em;
    width: 100%;
}
.header-left{
    float: left;
    height: 30px;
    width: 350px;
}
.header-left select{
   font-weight: bold;
   font-size: 16px;
   background-color: rgba(255, 255, 255, 0.91);
}
.header-left h3 a{
    color:white;
}
.header-right{
  float: right;
  height: 30px;
  width: 350px;
  color: white;
  font-size: 17px;
}
.fa-cog{
    margin-left: 20px;
    margin-top: 2px;
    font-size: 21px;
}
.fa-user{
    margin-left: 40px;
    margin-top: 2px;
    font-size: 21px;
}
.fa-caret-down{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
}
.administration:hover, .userFullName:hover a{
    text-decoration: underline;
    cursor: hand;
}
.administration a, .userFullName a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
#board-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 30px;
   /* background-color: rgba(255, 192, 203, 0.29);*/
}
.board-content-inner{
    padding: 10px;
    display: inline-block;
}
#board-table{
    height: 560px;
    width: 1343px;
    padding: 0px; 
    table-layout: fixed;
    border-collapse: collapse;
}
#board-table th{
    border: 1px solid grey; 
}
thead th{
    line-height: 40px;
}
#board-table a{
    font-size: 18px;
}
#board-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
}
#toolbar{
    background-color: #333;
    height: 30px;
}
#toolbar-table{
    line-height: 30px;
    color: white;
    height: inherit;
    font-weight: bold;
    font-size: 16px;
}
#toolbar-table th{
    border-right: 1px solid grey;
}
#toolbar-table th:hover{
    cursor: hand;
}
.fa-star{
    color:rgb(255, 172, 0);
    margin-right: 6px;
}
.fa-clock-o, .fa-file-text-o{
    margin-right: 5px;
    font-size: 19px;
}
.fa-plus{
    color:rgba(27, 119, 206, 0.91);
    float: right;
    font-size: 27px;
    margin-top: 8px;
    margin-right: 5px;
}
