*{margin: 0; padding: 0; outline: 0; list-style:none; text-decoration:none; font-family: 'Roboto', sans-serif;}
.clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

  .personal-body{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .personal-background{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: -1;
  }
   h3{
    float: left;
    margin-top: 8px;
    color:#E8810F;;
   }
  img{
    float: left;
    height: 30px;
    width: 40px;
    color: white;,
   }
  #personal-header{
  position: absolute;
  top:0;
  height: 30px;
  background-color: #333;
  line-height: 1em;
  width: 100%;
}
.pheader-left{
    float: left;
    height: 30px;
    width: 350px;
}
.pheader-left select{
   font-weight: bold;
   font-size: 16px;
   background-color: rgba(255, 255, 255, 0.91);
}
.pheader-left h3 a{
    color:white;
}
.pheader-right{
  float: right;
  height: 30px;
  width: 350px;
  color: white;
  font-size: 17px;
}
.fa-cog{
    margin-left: 20px;
    margin-top: 2px;
    font-size: 21px;
}
.fa-user{
    margin-left: 40px;
    margin-top: 2px;
    font-size: 21px;
}
.administration a, .open-close a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.administration:hover, .open-close:hover a{
    text-decoration: underline;
    cursor: hand;
}
  #personal-content{
  position: relative;
  top: 30px;
  height: 900px;
  width: 100%;
  background-color: #d3e8f2;
}
.personal-content-inner{
  position: absolute;
  top: 0;
  bottom: 30px;
  width:950px;
  margin-left: 200px;
  background: white;
  border: 1px solid lightgray;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.sidebar{
    float: left;
    width: 220px;
    height: 160px;
    min-height: 20px;
    padding: 8px 0;
    margin-left: 46px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.sidebar-list{
    width: 100%;
    margin-bottom: 0;
}
.nav-header{
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 4px;
}
.sidebar-list li a{
    color: #08c;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 3px 15px;
}
.sidebar-list li a:hover{
  color: white;
  background-color: #ccc;
}
.userData-nameAvatar{
  margin-left: 293px;
}
.userData-nameAvatar h3{
  color: black;
  margin-top: 20px;
}
#profileSettings-changeFullName{
  width: 640px;
  height: 92px;
  position: absolute;
  top: 50px;
}
.control-label{
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    font-size: 14px;
}
.control-text{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    height: 30px;
    margin-left: 15px;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border-radius: 3px;
    width: 270px;
}
#changeFullName-submit{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    display: inline-block;
    margin-top: 16px;
    margin-left: 176px;
    padding: 6px 9px 6px 9px;
    background-color: #006fcc;
    border: 1px solid #04c; 
    border-radius: 4px;
}
.avatar-info{
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #3a87ad;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 13px;
    margin-right: 20px;
}
