*{margin: 0; padding: 0; outline: 0; list-style:none; text-decoration:none; font-family: 'Roboto', sans-serif;}
.clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

  .personal-body{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .personal-background{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    z-index: -1;
  }
   h3{
    float: left;
    margin-top: 8px;
    color:#E8810F;
   }
  img{
    float: left;
    height: 30px;
    width: 40px;
    color: white;,
   }
   .submenu{
    float: right;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    display: none;
    z-index:4;
    right: 3px;
    padding: 3px 0;
    position: absolute;
    top: 33px;
}
.submenu li a {
    color: #000;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    padding: 7px 20px;
    white-space: nowrap;
    text-decoration: none;
    }
    .submenu li a:hover{
        background: #08C;
        color: white;
    }
  #personal-header{
  position: absolute;
  top:0;
  height: 30px;
  background-color: #333;
  line-height: 1em;
  width: 100%;
}
.pheader-left{
    float: left;
    height: 30px;
    width: 350px;
}
.pheader-left select{
   font-weight: bold;
   font-size: 16px;
   background-color: rgba(255, 255, 255, 0.91);
}
.pheader-left h3 a{
    color:white;
}
.pheader-right{
  float: right;
  height: 30px;
  width: 350px;
  color: white;
  font-size: 17px;
}
.fa-cog{
    margin-left: 20px;
    margin-top: 2px;
    font-size: 21px;
}
.fa-user{
    margin-left: 40px;
    margin-top: 2px;
    font-size: 21px;
}
.administration a, .open-close a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.administration:hover, .open-close:hover a{
    text-decoration: underline;
    cursor: hand;
}

.selectBoard{
    float: right;
    margin-right: 8px;
    height: 25px;
    margin-top: 2px;
    border: 1px solid;
    width: 140px;
    color: #000;
    background: #eee;
}
.selectBoard h4{
    padding-left: 5px;
    padding-top: 4px;
    float: left;
    font-size: 15px;
}
.selectBoard .fa-caret-down{
    color: rgba(51, 51, 51, 0.51);
    font-size: 17px;
    margin-left: 12px;
    margin-top: 3px;
}
.selectBoard:hover{
    cursor: hand;
    background: white;
}
.selectBoardMenu{
    position: absolute;
    top: 30px;
    left: 200px;
    width: 160px;
    height: 90px;
    z-index: 10;
    border: 1px solid #eee;
    border-radius: 4px;
    background: white;
    display: none;
}
.selectBoardMenu li{
    color: #222;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
}
.selectBoardMenu li a{
  color: #222;
}
  #personal-content{
  position: relative;
  top: 30px;
  height: 613px;
  width: 100%;
  background-color: #d3e8f2;
}
.personal-content-inner{
  position: absolute;
  top: 0;
  bottom: 30px;
  width:950px;
  margin-left: 200px;
  background: white;
  border: 1px solid lightgray;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.sidebar{
    float: left;
    width: 220px;
    height: 160px;
    min-height: 20px;
    padding: 8px 0;
    margin-left: 46px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-color: rgba(0,0,0,0.05);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.sidebar-list{
    width: 100%;
    margin-bottom: 0;
}
.nav-header{
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 4px;
}
.sidebar-list li a{
    color: #08c;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 3px 15px;
}
.sidebar-list li a:hover{
  color: white;
  background-color: #ccc;
}
.sidebar-list li a.selected-sidebarList{
  background-color: #08c;
  color: white;
}
.userData-nameAvatar{
  margin-left: 293px;
  display: block;
}
.userData-nameAvatar h3, .userData-dateTime h3, .userData-password h3, .userData-email h3, .userData-pGame h3, .userData-remove h3{
  color: black;
  margin-top: 20px;
}
#profileSettings-changeFullName{
  width: 640px;
  height: 92px;
  position: absolute;
  top: 50px;
}
.control-label{
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    font-size: 14px;
}
.control-text{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    height: 30px;
    margin-left: 15px;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border-radius: 3px;
    width: 270px;
}
#changeFullName-submit, #changePassword-submit, #email-submit{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    display: inline-block;
    margin-top: 16px;
    margin-left: 176px;
    padding: 6px 9px 6px 9px;
    background-color: #006fcc;
    border: 1px solid #04c; 
    border-radius: 4px;
}
#email-submit{
  margin-left: 0 !important;
}
.avatar-info{
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #3a87ad;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 13px;
    margin-right: 20px;
}
.upload-pic{
  margin-left: 8px;
}
.upload-pic p{
    font: inherit;
    display: inline-block;
    margin-top: 12px;
    width: 300px;
    font-size: 14px;
}
.profileSettings-gravatarPreview {
    vertical-align: top;
    width: 48px;
    height: 48px;
    padding: 4px;
    border: 1px solid #EEE;
    display: inline-block;
    margin-right: 20px;
}
.userData-dateTime, .userData-password, .userData-email, .userData-pGame, .userData-remove{
  margin-left: 293px;
  display: none;
}
.userData-email p{
    display: inline-block;
    margin-top: 50px;
    margin-left: -118px;
    font-size: 14px;
}
.userData-dateTime form{
  margin: 16px 40px;
  font-size: 15px;
}
.dateTime-info{
   background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #3a87ad;
    padding: 8px 35px 8px 14px;
    display: inline-block;
    margin-top: 5;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 14px;
    margin-right: 20px;
}
.form-date .control-group{
  padding-top: 27px;
}
#dateTime-submit{
   color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    display: inline-block;
    margin-top: 25px;
    margin-left: 143px;
    padding: 6px 9px 6px 9px;
    background-color: #006fcc;
    border: 1px solid #04c; 
    border-radius: 4px;
}
.form-password{
  margin-top: -140px;
}
.form-password .control-group{
  margin-bottom: 18px;
}
.form-password .control-label{
  float:left;
  width:160px;
  padding-top: 5px;
  text-align: right;
}
.form-password .controls{
  margin-left: 180px;
}
.form-password input[type="password"]{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555;
    border-radius: 3px;
    width: 206px;
}
.remove-alert{
    display: inline-block;
    font-size: 14px;
    padding: 11px 40px 11px 30px;
    margin-right: 17px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c09853;
}